@import url('https://fonts.googleapis.com/css2?family=Andika&family=Inter:wght@400;500&family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, #175d69 23%, #330c43 95%);
    align-items: center;
}

.header{
    width: 100%;
    background: #330c43;
    color: white;
    font-family: andika;
    display: flex;
}


.header .kiri{
    display: flex;
    justify-content: center;
    gap: 5x;
    flex-direction: column;
}
.kiri #nama{
    font-size: 18px;
    margin-left: 10px;
}
.kiri #id{
    margin-left: 10px;
    font-family: inter;
    font-size: 15px;
    margin-bottom: 5px;
}


.link{
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: andika;
    font-size: 17px;
}
.link .salin{
    display: flex;
    gap: 5px;
}
.salin input{
    width: 255px;
    height: 25px;
    font-size: 15px;
    font-family: rubik;
    text-align: center;
    border-radius: 7px;
    border: none;
}
.salin button{
    width: 30px;
    font-size: 18px;
    color: #ffffff;
    background: #330c43;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s;
}
.salin button:hover{
    background: white;
    color: aqua;
    border: 1px solid #330c43;
}


.sinbox{
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-family: andika;
    text-decoration: underline;
}
.inbox{
    display: flex;
    flex-direction: column;
    width: 95%;
    color: white;
    text-align: center;
    gap: 5px;
    background: #330c4379;
    border-radius: 20px;
    font-family: andika;
    padding: 10px 0;
}
.inbox #tentang{
    font-size: 18px;
}
.inbox #pesan{
    text-align: left;
    margin-left: 15px;
}